<% provide(:title, "Log in") %>
<h1>Welcome To the Login Page of Yuclo</h1>
<style type="text/css">
#bg, #search-bg {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/8c/d1/65/8cd165737b130008b1096c0b0219f1a8.jpg');
  background-repeat: no-repeat;
  background-size: 2000px auto;
}

#bg {
  background-position: center top;
  padding: 70px 90px 120px 90px;
}

#search-container {
  position: relative;
}

#search-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;

  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(10px);
}

#search {
  /* Put this on top of the blurred layer */
  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
}

@media (max-width: 600px ) {
  #bg { padding: 10px; }
  #search-bg { background-position: center -10px; }
}

#search h2, #search h5, #search h5 a { text-align: center; color: #fefefe; font-weight: normal; }
#search h2 { margin-bottom: 50px }
#search h5 { margin-top: 70px }
</style>

<div id="bg">
  <div id="search-container">
    <div id="search-bg"></div>
    <div id="search">
      <div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= form_for @session,url:{action:"Post"} do |f| %>
    <%=f.label :first_name %>
    <%=f.text_field :first_name, class: 'form-control' %>
      <%= f.label :Email_id %>
      <%= f.email_field :Email_id, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Login" , class: "btn btn-primary" %><%= link_to "Login",session_Post_path %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", users_new_path %></p>
  </div>
</div>
    </div>
  </div>
</div>